ul {
    width: 15rem;
    margin: 0.5rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(14, 221, 193);
    box-shadow: 3px 3px 5px rgb(198, 200, 200);
    border-radius: 10px;
}

li {
    list-style: none;
    margin: 0.5rem;
}