ul {
    width: 15rem;
    margin: 0.5rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(190, 186, 186);
    border-radius: 10px;
}

li {
    list-style: none;
    margin: 0.5rem;
}