.createForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.submitButton {
    padding: 0.5rem;
    margin: 2rem;
    background-color: rgb(190, 186, 186);
    border-radius: 10px;
}